---
import Direccionar from "../img/Direccionar.astro"
---
<a href={Astro.props.href} class="flex w-40 h-11 border-2 rounded-full items-center justify-center self-end mt-2">
  <p class="text-base font-medium mx-2">Saber más</p>
  <Direccionar />
</a>