<section>
  <form action="">
    <label for="name">
      <span>¡Hola! Mi nombre es</span>
      <input type="text" name="name" placeholder="Escribe tu nombre" required>
    </label>
    <label for="number">
      <span>me pueden llamar al número</span>
      <input type="text" name="number" placeholder="Escribe tu número" required>
    </label>
    <label for="email">
      <span>o escribirme al correo</span>
      <input type="email" name="email" placeholder="Escribe tu correo" required>
    </label>
    <label>
      <span>Me gustaría decirles que</span>
      <input type="text" placeholder="Escribe tu mensaje" required>
    </label>
    <button type="submit">Enviar tu consulta</button>
  </form>
</section>