---
import Logo from "../components/Logo.astro"
---
<header class="">
  <a href="/" class="">
    <Logo />
    <h1 class="hidden">Ópticas Sol</h1>
  </a>

  <input class="hidden" type="checkbox" name="menu" id="menu">
  <label for="menu" class="">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav>
    <ul>
      <li>
        <a href="">Nosotros</a>
      </li>
      <li>
        <a href="">Servicios</a>
      </li>
      <li>
        <a href="">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

<style>
</style>