
<section class="p-3.5 grid ">
  <h2 class="font-bold text-[22px] my-2">ENFOQUE EN CIRUGÍA Y CUIDADO DE LOS OJOS</h2>
  <h3 class="font-bold text-[22px] text-blueOS-400 my-2">TU VISIÓN. <br> NUESTRO ENFOQUE.</h3>
  <p class="text-base my-5">
    Podemos ayudarte a lograr una visión clara y nítida con tecnología moderna para cirugía ocular en Bogotá.
  </p>
  <img src="/src/img/mujer-con-gafas-sin-bg-figma.png" alt="Mujer con gafas sonriendo." class="absolute left-0 top-96 mt-8 justify-self-center w-full z-30">
  <a href="/" class="bg-blueOS-500 py-2 px-20 rounded-full text-white fixed bottom-3 justify-self-center shadow-md cursor-pointer z-40">Contáctanos</a>
</section>